.control-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  width: 50px;
  height: 25px;
  margin: 0 4px;
  border: 1px solid grey;
  border-radius: 4px;
  color: black;
  font-size: 14px;

  &:disabled {
    color: rgb(150, 150, 150);
    border-color: rgb(180, 180, 180);
  }
}

.tempo-container {
  margin: 10px;
}

$thumb-color: #0199ff;
$thumb-hover-color: #55c2ff;
$thumb-size: 20px;
$thumb-margin-top: -2px;

.slider-control {
  display: block;
  margin: 10px auto;
  appearance: none;
  width: 96%;
  height: 8px;
  border-radius: 8px;
  cursor: pointer;

  &:focus, &:hover {
    outline: none;
    border: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: $thumb-size;
    width: $thumb-size;
    margin-top: $thumb-margin-top;
    border-radius: 100%;  
    background-color: $thumb-color; 

    &:focus, &:hover {
      background-color: $thumb-hover-color;
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    height: $thumb-size;
    width: $thumb-size;
    margin-top: $thumb-margin-top;
    border-radius: 100%;  
    background-color: $thumb-color; 
    border: none;

    &:focus, &:hover {
      background-color: $thumb-hover-color;
    }
  }
}
