.json-area {
  display: block;
  margin: 0px auto; 
  width: 70%;
  height: 250px;
}

.control-btn-container {
  display: inline-block;
}

.play-btn, .stop-btn {

}

.step-foward-btn, .step-backward-btn {
  
}
