.keyboard-container {
  width: 90%; 
  height: 160px;
  margin: 0px auto; 
  box-shadow: 2px 2px 10px 2px #acacac;
  background-color: red;
}

.key {

}

.key-white {
  display: inline-block;
  width: 2%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(white 10%, rgb(251, 251, 251) 92%, rgb(220, 220, 220) 93%,white 97%);
  border: solid 1px rgb(39, 38, 38);
  border-radius: 0 0 5px 5px;
  position: relative;
}

.key-white:active{
  background: linear-gradient(#eee 10%, #ddd 60%, #bbb 93%, #ccc 97%);
}

.key-black {
  display: inline-block;
  width: 1.334%;
  height: 70%;
  background: linear-gradient(#000 10%, rgb(86, 86, 86) 85%, #000 90%);
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.key-black:active {
  background: linear-gradient(rgb(86, 86, 86) 10%, #000 90%, #222 100%);
}