.keyboard-container {
  width: 96%; 
  height: 180px;
  margin: 10px auto; 
  box-shadow: 2px 2px 10px 2px #acacac;

  background-color: rgb(56, 53, 53);
}

.key-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.key-white {
  display: inline-block;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(white 10%, rgb(251, 251, 251) 92%, rgb(220, 220, 220) 93%,white 97%);
  border: solid 1px rgb(39, 38, 38);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.key-white:active, .key-white-active {
  background: linear-gradient(#eee 10%, #ddd 60%, #bbb 93%, #ccc 97%);
}

.key-white-text {
  position: absolute;
  bottom: 10%;
  color: #222;
}

.key-black {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 70%;
  background: linear-gradient(#000 10%, rgb(86, 86, 86) 85%, #000 90%);
  border-radius: 0 0 3px 3px;
}

.key-black:active, .key-black-active {
  background: linear-gradient(rgb(160, 160, 160) 10%, rgb(120, 120, 120) 90%, rgb(80, 80, 80) 100%);
}

.key-black-text {
  position: absolute;
  bottom: 40%;
  color: rgb(231, 72, 23);
}
