.url-form {
  width: 100%;
  height: 40px;
  margin: 10px 0 10px 0;

  display: flex;
  justify-content: flex-start;
}

.url-type-select {
  height: 40px;
  margin-right: 20px;
}

.url-input {
  border: 1px solid rgb(128, 128, 128);
  height: 40px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  font-size: 16px;

  flex-grow: 2;
}

.dropzone {
  border: 1px solid rgb(128, 128, 128);
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.midi-json-area {
  display: block;
  margin: 0px auto; 
  width: 70%;
  height: 250px;
}